@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import "background";
/* NOTE: good decision to use SCSS. See specs to use all features of this preprocessor
   TODO: define variables if necessary;+++
         read about vendors prefixes as -webkit-... and why we need them;
         define abstract class for 'circles' and extend it to modify
         wrap in general class child elements with symbol '&':
         .infobar-part {
            ...
            $-content {
              ...
            }
          };
          move 'circles' styles into another .scss file and import them by using @import;+++
          try to use only screen area without overflow and scroll
 */
$display: flex;
$font-family: 'Exo', sans-serif;
$font-size: 3vmin;
$background: #4e54c8;
$align-items: center;
$justify-content: center;

body {
  margin: 0;
  font-family: $font-family;
}

.area{
  background: $background;
  background: -webkit-linear-gradient(to left, #8f94fb, $background);
}
section {
  display: $display;
  justify-content: space-evenly;
  align-items: $align-items;
  padding: 30px 0;
  font-family: $font-family;

  .infobar-part {
    display: $display;
    width: 50%;
  }

  .infobar-part-content {
    width: 50%;
    font-family: $font-family;
    font-size: $font-size;
    color: #fff;
    pointer-events: none;

    &:first-child {
      text-align: right;

    }
  }

  .inputConfig {
    font-family: $font-family;
    font-size: $font-size;
    padding: 3px;
    border: 1px solid gray;
  }

  .ui-container {
    display: $display;
    width: 50%;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
  }

  .ui-container-part-buttons {
    display: $display;
    width: 16vmin;
    justify-content: space-between;
  }

  .ui-container-button {
    display: $display;
    width: 4vmin;
    height: 5vmin;
    justify-content: $justify-content;
    align-items: $align-items;
    border: 2px solid #008CBA;
  }

  .output-field {
    display: $display;
    height: 5vmin;
    width: 6vmin;
    align-items: $align-items;
    justify-content: $justify-content;
    border: 2px solid #008CBA;
    border-radius: 1vmin;
    box-shadow: 0 0 3px rgba(20, 20, 250, 0.6);
    user-select: none;
    font-size: $font-size;
    text-align: center;
    margin: 0 7px;
    pointer-events: none;
  }

  .ui-container-button {
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    font-size: 2vmin;
  }

  .ui-container-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    background-color: #008CBA;
    color: white;
    transition-duration: 0.4s;
  }

  .ui-container-button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transform: scale(0.95);
    font-size: 1.95vmin;
  }

  .button-right {
    border-radius: 0 1vmin 1vmin 0;
  }

  .button-left {
    border-radius: 1vmin 0 0 1vmin;
  }

  .ui-container-part {
    font-size: $font-size;
    margin: 1vmin;
    font-family: $font-family;
    color: #fff;
  }

  .part-content {
    pointer-events: none;
  }

  #game {
    width: 90vmin;
    height: 60vmin;
    background-color: lightblue;
  }
}


